<!DOCTYPE html>
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog Web Scraper - input PW</title>
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/style.css" rel="stylesheet"/>
	<script src="/js/jquery/jquery.js"></script>
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
	<div class="container">
		<h1 class="text-centered title"><strong>Admin - Login</strong></h1>
		
		<h4 class="tabtitle"><strong>Input Password</strong></h4>
		<div class="card shadow component  searchbar-wrapper">
			<form id="login-form" action="/adminLogin" method="post">
				<input id="password" name="password" type="password" class="search-box component" onkeypress="passwordEnter();"/>
			</form>
			<button id="search_btn" class="search-btn btn btn-dark" onclick="login();">login</button>
		</div>
		<button id="theme_btn" class="btn btn-dark" onClick="switchTheme(this.classList[1].split('-')[1])">다크 모드로 보기</button>
	</div>

	<script src="/js/theme.js"></script>
	<script>
		
	</script>
	<script>
		//onload event
		document.addEventListener("DOMContentLoaded", function() {
			switchTheme(window.localStorage.theme);
		});
		var passwordEnter = function() {
			if(event.keyCode == 13) {
				login();
			}
		};
		var login = function() {
			var pw = document.getElementById("password").value;
			if(pw.length < 1) {
				alert("input password");
				return;
			} else {
				var form = document.getElementById("login-form");
				form.submit();
			}
		}
	</script>
	
  </body>
</html>