<!DOCTYPE html>
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog Web Scraper</title>
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/tui-chart/tui-chart.min.css" rel="stylesheet"/>
	<link href="/css/style.css" rel="stylesheet"/>
	<style>
		.menu {
			display: none;
			height: 50%;
		}
		.menu-area {
			width: 100%;
			height: 50%;
			padding: 20px;
		}
		.submit-btn {
			width: 100px;
			height: 50px;
		}
	</style>
  </head>
  <body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!--logo-->
		<a class="navbar-brand" href="#">Admin</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">통계</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onClick="loadMenu(event, 'menu_visitors')">일일 방문자 수</a>
						<a class="dropdown-item" href="#" onClick="loadMenu(event, 'menu_post_views')">포스트별 조회수 순위</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">포스트 관리</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onClick="loadMenu(event, 'menu_batch')">배치 관리</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" onClick="logout();"><strong>Logout</strong></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" onClick="moveToMain();"><strong>Go to Main</strong></a>
				</li>
			</ul>
	</nav>
	<div class="container">
		<h1 class="text-centered title"><strong>&#128240;Tech Blog Web Scraper - Admin</strong></h1>
		<div class="menues-wrapper">
			<!-- 일일 방문자 수 -->
			<div class="menu" id="menu_visitors">
				<h4 class="menu-title"><strong>일일 방문자 수</strong></h4>
				<div class="card shadow component menu-area">
					<div id="chart-area"></div>
					<button class="btn btn-primary" onClick="requestVisitors();">조회</button>
				</div>
			</div>
			<!-- 포스트별 조회수 순위 -->
			<div class="menu" id="menu_post_views">
				<h4 class="menu-title"><strong>포스트별 조회수 순위</strong></h4>
				<div class="card shadow component menu-area">
					<div id="chart-area-postviewcount"></div>
					<button class="btn btn-primary" onClick="requestViewCount();">조회</button>
				</div>
			</div>
			<!-- 포스트별 조회수 순위 -->
			<div class="menu" id="menu_batch">
				<h4 class="menu-title"><strong>배치 관리</strong></h4>
				<div class="card shadow component menu-area">
					<div id="batch-area"></div>
					<button class="btn btn-primary" onClick="runBatch();">배치 실행</button>
				</div>
			</div>
		</div>
		<button id="theme_btn" class="btn btn-dark" onClick="switchTheme(this.classList[1].split('-')[1])">다크 모드로 보기</button>
	</div>

	<script type="text/javascript" src="/js/theme.js"></script>
	<!-- jquery -->
	<script type="text/javascript" src="/js/jquery/jquery.js"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- Raphael.js -->
	<script type="text/javascript" src="/js/raphael/raphael.min.js"></script>
	<!-- tui-chart -->
	<script type="text/javascript" src="/js/tui-chart/tui-chart.min.js"></script>
	<script>
		var moveToMain = function() {
			window.location.href = "/";
		};
		var runBatch = function() {
			document.getElementById("batch-area").innerHTML = "batch process is running. please wait...";
			$.ajax({
				type: "post",
				url: "/runbatch",
				data: {},
				success: function(result) {
					document.getElementById("batch-area").innerHTML = "";
					alert("batch process successfully completed.");
				},
				error: function(xhr, textStatus, errorThrown) {
					alert("request failed.\n" + xhr.status + " " + xhr.statusText);
				}
			});
		};
		/* 불러온 데이터로 차트 표시 */
		var loadChart = function(chartDiv, inpData) {
			console.log("chart name : " + chartDiv);
			if(chartDiv == "visit") {
				var container = document.getElementById("chart-area");
				container.innerHTML = "";
				//inpData를 chart에 맞게 변환
				
				var categoriesData = [];
				var seriesData = [];
				for(var i = 0; i < inpData.length; ++i) {
					categoriesData.push(inpData[i]["dt"]);
					seriesData.push(Number(inpData[i]["cnt"]));
				}
				var data = {
					categories: categoriesData,
					series: [
						{
							name: 'visitors',
							data: seriesData
						}
					]
				};
				var options = {
					chart: {
						width: document.getElementById("chart-area").offsetWidth,
						height: 540,
						title: '일일 방문자 수'
					},
					yAxis: {
						title: '방문자 수',
					},
					xAxis: {
						title: 'Date',
						pointOnColumn: true,
						dateFormat: 'MMM',
						tickInterval: 'auto'
					},
					series: {
						showDot: false,
						zoomable: true
					},
					tooltip: {
						suffix: '명'
					}
				};
				var theme = {
					series: {
						colors: [
							'#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
							'#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
						]
					}
				};
				// For apply theme
				// tui.chart.registerTheme('myTheme', theme);
				// options.theme = 'myTheme';
				var chart = tui.chart.lineChart(container, data, options);
			} else if (chartDiv == "viewcount") {
				//TODO : CREATE LIST OF RESULT
			} else {
				console.log("there is no chartDiv like " + chartDiv);
			}
			
		};
		//포스트별 조회수 request
		var requestViewCount = function() {
			$.ajax({
				type: "post",
				url: "/statistics/viewcount",
				data: {},
				success: function(result) {
					console.log(result);
					loadChart("viewcount", result.data);
				},
				error: function(xhr, textStatus, errorThrown) {
					alert("request failed. \n" + xhr.status + " " + xhr.statusText);
				}
			});
		}
		//홈페이지 방문자수 request
		var requestVisitors = function() {
			$.ajax({
				type: "post",
				url: "/statistics/visit",
				data: {},
				success: function(result) {
					console.log(result.data);
					loadChart("visit", result.data);
					//chartTest();
				},
				error: function(xhr, textStatus, errorThrown) {
					alert("request failed.\n" + xhr.status + " " + xhr.statusText);
				}
			});
		};

		var loadMenu = function(event, menuName) {
			var menues = document.getElementsByClassName("menu");
			for(var i = 0; i < menues.length; ++i) {
				if(menues[i].getAttribute("id") == menuName) {
					menues[i].style.display = "block";
				} else {
					menues[i].style.display = "none";
				}
			}
		};

		//onload event
		document.addEventListener("DOMContentLoaded", function() {
			switchTheme(window.localStorage.theme);
			loadMenu(event, 'menu_visitors');
			
		});
		var logout = function() {
			$.ajax({
				type: "post",
				url: "/adminLogout",
				data: {},
				success: function(result) {
					alert("logout success");
					window.location = "/admin";
					console.log(result.data);
                },
                error : function(xhr, textStatus, errorThrown) {
                  alert("logout failed.\n" + xhr.status + " " + xhr.statusText);
                }
			});
		};
	</script>
	
  </body>
</html>