<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"/>
    <title>Tech Blog Web Scraper</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/style.css">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<script src="/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <h1 class="text-centered">Tech Blog Web Scraper</h1>
    <h3>by <a href="https://www.github.com/eurowondollaryen">eurowondollaryen</a></h3>
    <h4>Blog List</h4>
    <ul>
      <% for(var i = 0; i < list.length; ++i) { %>
        <li class="card sahdow">
            <a href='/get/<%=list[i]["title_en"]%>'><%= list[i]["title_kr"] %></a>
        </li>
      <% } %>
    </ul>
	<!-- We will put our React component inside this div. -->
    <div id="like_button_container"></div>
	
	<!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	
	<!-- Load our React component. -->
    <script src="/js/like_button.js"></script>
  </body>
</html>