<!DOCTYPE html>
  <head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog Web Scraper</title>
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/style.css" rel="stylesheet"/>
	<script src="/js/jquery/jquery.js"></script>
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
	<div class="container">
		<h1 class="text-centered title"><strong>&#128240;Tech Blog Web Scraper</strong></h1>
		<h3 class="subtitle">by <a href="https://www.github.com/eurowondollaryen">eurowondollaryen</a></h3>

		
		<h4 class="tabtitle"><strong>Search</strong></h4>
		<div class="card shadow component  searchbar-wrapper">
			<input id="search_box" class="search-box component" onkeypress="queryEnter()"/>
			<button id="search_btn" class="search-btn btn btn-dark" onclick="query()">검색</button>
		</div>

		<h4 class="tabtitle"><strong>Blog List</strong></h4>
		<div class="card shadow component" style="padding: 20px; margin: 15px;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><strong>순번</strong></th>
					<th><strong>회사명</strong></th>
					<th style="text-align: right;"><strong>포스트 수</strong></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < list.length; ++i) { %>
				<tr>
					<td><%=i+1%></td>
					<td>
						<a href='/postList?company=<%=list[i]["route"]%>'><%= list[i]["title_kr"] %></a>
						<% if(list[i]["newpost"] == "1") { %>
							&#127381;
						<% } %>
					</td>
					<td style="text-align: right;"><%= list[i]["cnt"] %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		</div>
		<!-- We will put our React component inside this div. -->
		<p>if you like this website, press like button below <div id="like_button_container"></div></p>
		<button id="theme_btn" class="btn btn-dark" onClick="switchTheme(this.classList[1].split('-')[1])">다크 모드로 보기</button>
	</div>

	<script src="/js/theme.js"></script>
	<script>
		
	</script>
	<script>
		var requestQuery = function(queryText) {
			if(queryText.length < 1) {
				alert("검색어를 입력해 주세요.");
				return;
			}
			window.location.href = "/query?queryText=" + queryText;
		}
		var queryEnter = function() {
			if(event.keyCode == 13) {
				query();
			}
		}
		var query = function() {
			var queryText = document.getElementById("search_box").value;
			requestQuery(queryText);
		};
		//onload event
		document.addEventListener("DOMContentLoaded", function() {
			switchTheme(window.localStorage.theme);
		});
		
	</script>
	<!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	
	<!-- Load our React component. -->
    <script src="/js/like_button.js"></script>
  </body>
</html>