@charset "UTF-8";
/*주의 : html파일에서 bootstrap 이전에 link 태그 작성하면 font가 안먹음..
원인 : bootstrap css파일 내에 body에 대해 !important 옵션으로 추가한 설정이 있다.
!important 옵션은 이후에 적용되는 녀석의 옵션을 지워버림. 그러므로 순서에 유의
*/
@font-face {
	font-family: "NanumGothic";
	src: url("/font/NanumGothic-Regular.woff") format('woff');
}

:root[data-theme="light"] {
  --primary-color: #0072a3;
  --text-color: #333333;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --component-bg-color-hover: #dadada;
}

:root[data-theme="dark"] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --bg-color: #1b2a32;
  --component-bg-color: #22343c;
  --component-bg-color-hover: #3e5e6b;
}

body {
  font-family: "NanumGothic", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.component {
  background-color: var(--component-bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
}

h3 {
  color: var(--text-color);
}
th {
  color: var(--text-color);
}
td {
  color: var(--text-color);
}

#theme_btn {
  position: fixed;
  width: 180px;
  height: 51px;
  bottom: 10px;
  right: 20px;
}

.post {
  width: 100%;
}

.post .post-wraper .post-title {
  cursor: pointer;
}

.post .post-wraper .post-subtitle {
  cursor: pointer;
}

.post .post-wraper .post-title:hover {
  font-weight: bold;
}

.post .post-wraper .post-subtitle:hover {
  font-weight: bold;
}

.post:hover {
  transition: 0.5s;
  background-color: var(--component-bg-color-hover);
}

.post-list-title {
  text-align: left;
  margin: 18px;
  font-weight: bold;
}

.p20m15 {
  padding: 20px; margin: 15px;
}

.m15 {
  margin: 15px;
}

.loading-wrapper {
  width: 100%;
  height: 256px;
}

.loading-img {
  width: 256px;
  height: 256px;
  margin: 0 auto;
}